.dropdown .trigger {
    border-bottom: 1px solid #ddd;
    padding: 1vw;
    padding-left: 3vw;
    position: relative;
    cursor: pointer;
}

.dropdown .trigger::after {
    content: ">";
    display: inline-block;
    font-weight: bold;
    position: absolute;
    right: 3%;
    transform: rotate(90deg) scale(0.5, 1);
    transition: transform 0.3s;
}

.dropdown .trigger.active::after {
    transform: rotate(-90deg) scale(0.5, 1);
}

.dropdown .content {
    display: none;
}

.dropdown .content.active {
    display: block;
    margin: 1vw;
    padding: 2vw;
    border: 1px solid;
    border-radius: 1vw;
}